html {
  --base-spacing: 90%;
  background-color: #e0ebeb;
}
body {
  /* font-family: 'Muli', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Times New Roman', sans-serif;
}


/* ======== Resume starts here ======== */
.row-header {
  /* border-top: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
  display: flex;
  justify-content: space-between;
}

.black {
  color: black;
}

h1,h3 {
  color: rgb(40, 111, 139);
  /* font-weight: bold; */
}

.resume-container h1, h2, h3, h4, p {
  padding: .07em;
  margin: .07em;
}

.resume-container {
  background-color: #ffffff;
  padding: 3em;
  position: relative;
  margin: 0 auto;
  width: var(--base-spacing);   /* base-spacing is a variable declared on top of page */
}

.header {
  margin: 0 auto;
  text-align: center;
}

.resume-container div ul, .resume-container div h3 {
  margin: .35em 0;
}


/*media query start here*/
@media screen and (max-width: 576px) {
  html {
    --base-spacing: 90%;
  }
  .resume-container {
    padding: .25em;
  }

  .header .contact-info{
    font-size: 85%;
    text-align: left;
  }

  .resume-container ul {
    padding-left: 1.5em;
  }

} /*end media query */

/* ======== max-width 768px start here ======== */
@media screen and (max-width: 768px) {
  .section1 nav ul.topnav li { /*align the navigation items vertically*/
    float: none;
  }
} /*end media query */