html {
  --base-spacing: 90%;
  background-color: #e0ebeb;
}
body {
  /*font-family: 'Muli', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  /* color: black; */
}


/* ======== Resume starts here ======== */

.container {
  /* border-top: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
  display: flex;
  justify-content: space-between;
  /* width: 800px; */
}

.black {
  color: black;
}

h1,h3 {
  color: rgb(40, 111, 139);
  font-weight: bold;
}

.resume-container .show-inline {
  display: inline;
}
.resume-container h1, h2, h3, h4, p {
  font-weight: normal;
  padding: .07em;
  margin: .07em;
}
.resume-container {
  background-color: #ffffff;
  padding: 3em;
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  margin: 0 auto;
  /*width: 690px;*/
  width: var(--base-spacing);   /* base-spacing is a variable declared on top of page */
  /* border: 1px solid black; */
}
.header {
  margin: 0 auto;
  text-align: center;
}
div.header > h1, div.header > h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}
div.contact-info {
  /* border-top: 1px solid blue; */
  /*border-bottom: 1px solid blue;*/
  margin-bottom: 5px;
}
div.contact-info a {
  text-decoration: none;
}
div.contact-info a:hover {
  text-decoration: underline;
}
.recent-projects #cargo {
  /* color: inherit; */
}

.resume-container div ul, .resume-container div h3 {
  margin: .2em 0;
}


/*media query start here*/
@media screen and (max-width: 576px) {
  html {
    --base-spacing: 90%;
  }
  .resume-container {
    padding: .25em;
  }

  .header .contact-info{
    font-size: 85%;
    text-align: left;
  }

  .resume-container ul {
    padding-left: 1.5em;
  }

  .recent-projects #cargo {
    font-size: 80%;
    word-wrap: break-word;
  }
} /*end media query */

/* ======== max-width 768px start here ======== */
@media screen and (max-width: 768px) {
  .section1 nav ul.topnav li { /*align the navigation items vertically*/
    float: none;
  }
} /*end media query */
